<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Creacion de Categorias</h1>

<form th:action="@{/categorias/save}" method="post">
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre" value=""><br>

    <label for="descripcion">Descripcion:</label><br>
    <input type="text" id="descripcion" name="descripcion" value=""><br><br>
    <input type="submit" value="Guardar">
</form>

</body>
</html>